{% extends 'base.html' %}


{% block content %}

<div class="container col-4 mt-5">
    <h1>Edit Book</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.title(class='form-control', placeholder='Title', value='p.title') }}

        {{ form.summary(class='form-control', placeholder='Summary', value='p.summary') }}

        {{ form.author(class='form-control', placeholder='Author', value='p.author') }}


       
        <div class="d-grid gap-2 my-3">
            {{ form.submit(class='btn btn-primary') }}
        </div>

    </form>
</div> 

{% endblock content %}