{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books you've read</title>
</head>
<body>
    <h1>WELCOME TO MY WEBSITE TO KEEP TRACK OF BOOKS YOU'VE READ</h1>
    <p>Log in or register to continue</p>
    {% if current_user.is_authenticated %}
    <button class="btn btn primary" herf="/addBook">Add a book to your list</a>
    {% endif %}
</body>
</html>

{% endblock %}